# Common file extenions #
*.class
*.classpath
*.project

# Target folder #
target/
bin/

# Package files #
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IDE files
*.settings
*.iml
.idea/
